<%- include("./partials/header.ejs") %> 
    <h1>Welcome to My Express Application</h1>
    <img
      class="cutie-kitty" 
      src="/images/cutie-kitty.jpg"
      height="500px"
      alt="Cute cat"
    />
<%- include("./partials/footer.ejs") %> 